Repository sendnodes-io/sendwallet: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-config, lint-docs

lint-js:
  name: lint typescript and javascript
  entry: /usr/bin/env npx eslint
  language: script
  description: Checks JS/TS code according to the package's linter configuration

lint-config:
  name: lint config files
  entry: /usr/bin/env npx prettier -c
  language: script
  description: Checks config files according to the package's linter configuration

lint-docs:
  name: lint documentation files
  entry: /usr/bin/env npx prettier -c
  language: script
  description: Checks documentation files according to the package's linter configuration

add read-only account to onboarding
  packages/background/redux-slices/accounts.ts
  packages/ui-legacy/components/NetworkSelector/index.tsx
  packages/ui-legacy/components/Shared/SharedModalPopup.tsx
  packages/ui-legacy/components/Stake/StakeSignTransaction.tsx
  packages/ui-legacy/pages/Onboarding/OnboardingAddWallet.tsx
Due: lint-js

load recent assets after connecting to account
  packages/background/services/chain/index.ts
Due: lint-js

few fixes
  packages/ui-legacy/components/AccountItem/AccountItemOptionsMenu.tsx
  packages/ui-legacy/pages/Onboarding/OnboardingAddWallet.tsx
Due: lint-js

a bit of cleanup for unstoppabledomains
  packages/ui-legacy/components/AccountsNotificationPanel/AccountsNotificationPanelAccounts.tsx
  packages/ui-legacy/components/Send/SendPOKT.tsx
  packages/ui-legacy/hooks/unstoppabledomains-hooks.ts
  packages/ui-legacy/hooks/validation-hooks.ts
  packages/ui-legacy/services/unstoppabledomains.ts
Due: lint-js

use SendNodes Pocket RPC
  packages/background/constants/networks.ts
  packages/ui-legacy/hooks/pocket-network/use-latest-block.ts
Due: lint-js

wait for remote config
  packages/background/services/chain/index.ts
Due: lint-js

fix chain service bugs arising from RPC errors
  apps/webext-legacy/manifest/manifest.json
  apps/webext-legacy/package.json
  packages/background/services/chain/db.ts
  packages/background/services/chain/index.ts
  packages/background/services/chain/pocket-provider.ts
  packages/background/services/enrichment/index.ts
  packages/background/services/indexing/index.ts
  packages/ui-legacy/hooks/pocket-network/use-latest-block.ts
  packages/ui-legacy/pages/Wallet.tsx
Due: lint-js, lint-config

v0.4.3 - fix chain service bugs arising from RPC errors (#33)
  apps/webext-legacy/manifest/manifest.json
  apps/webext-legacy/package.json
  packages/background/services/chain/db.ts
  packages/background/services/chain/index.ts
  packages/background/services/chain/pocket-provider.ts
  packages/background/services/enrichment/index.ts
  packages/background/services/indexing/index.ts
  packages/ui-legacy/hooks/pocket-network/use-latest-block.ts
  packages/ui-legacy/pages/Wallet.tsx
Due: lint-js, lint-config

fix an issue with the service worker starting too slowly
  apps/webext-legacy/src/background.ts
  apps/webext-legacy/webpack.config.ts
  packages/background/index.ts
  packages/background/package.json
  packages/ui-legacy/components/Core/CoreStartStore.tsx
  packages/ui-legacy/components/Shared/SharedSplashScreen.tsx
  packages/ui-legacy/index.ts
  packages/ui-legacy/package.json
  yarn.lock
Due: lint-js, lint-config

timeout after 60 minutes
  .github/workflows/check.yml
Due: none

bump version
  apps/webext-legacy/.prettierignore
  apps/webext-legacy/manifest/manifest.json
  apps/webext-legacy/package.json
Due: lint-config

add turbo clean
  apps/webext-legacy/package.json
  package.json
  turbo.json
  yarn.lock
Due: lint-config

fix yarn clean
  turbo.json
Due: lint-config

fix an issue with the service worker starting too slowly (#34)
  .github/workflows/check.yml
  apps/webext-legacy/.prettierignore
  apps/webext-legacy/manifest/manifest.json
  apps/webext-legacy/package.json
  apps/webext-legacy/src/background.ts
  apps/webext-legacy/webpack.config.ts
  package.json
  packages/background/index.ts
  packages/background/package.json
  packages/ui-legacy/components/Core/CoreStartStore.tsx
  packages/ui-legacy/components/Shared/SharedSplashScreen.tsx
  packages/ui-legacy/index.ts
  packages/ui-legacy/package.json
  turbo.json
  yarn.lock
Due: lint-js, lint-config

try with latest tamagui
  apps/webext/package.json
  packages/app/package.json
  packages/ui/package.json
  yarn.lock
Due: lint-config

maybe this will work
  .github/workflows/check.yml
  apps/webext/package.json
  apps/webext/webpack.config.ts
  package.json
  packages/app/package.json
  packages/ui/package.json
  yarn.lock
Due: lint-js, lint-config

tamagui builds, but type errors on legacy
  .yarn/patches/@react-navigation-native-npm-6.1.1-dff59abc78.patch
  LICENSE
  apps/webext/package.json
  package.json
  packages/app/navigation/native/index.tsx
  packages/app/package.json
  packages/app/provider/navigation/index.tsx
  packages/ui-legacy/env.d.ts
  packages/ui-legacy/package.json
  packages/ui/package.json
  yarn.lock
Due: lint-js, lint-config

Update README.md
  README.md
Due: lint-docs

nohoist ftw
  apps/webext-legacy/package.json
  apps/webext/package.json
  apps/webext/webpack.config.ts
  package.json
  packages/app/package.json
  packages/ui-legacy/env.d.ts
  packages/ui-legacy/package.json
  packages/ui/package.json
  yarn.lock
Due: lint-js, lint-config

try with latest tamagui (#35)
  .github/workflows/check.yml
  .yarn/patches/@react-navigation-native-npm-6.1.1-dff59abc78.patch
  LICENSE
  apps/webext-legacy/package.json
  apps/webext/package.json
  apps/webext/webpack.config.ts
  package.json
  packages/app/navigation/native/index.tsx
  packages/app/package.json
  packages/app/provider/navigation/index.tsx
  packages/ui-legacy/env.d.ts
  packages/ui-legacy/package.json
  packages/ui/package.json
  yarn.lock
Due: lint-js, lint-config

consolidate build-info stuff
  apps/webext-legacy/webpack.config.ts
  apps/webext/webpack.config.ts
  packages/build-utils/src/index.ts
Due: lint-js

so close to a green pasture
  apps/webext/package.json
  apps/webext/src/background.ts
  apps/webext/webpack.config.ts
  packages/app/features/home/screen.tsx
  packages/app/provider/index.tsx
  packages/app/provider/navigation/index.tsx
  packages/app/provider/store/index.tsx
  packages/ui/package.json
  packages/ui/src/components/Sandbox.tsx
  yarn.lock
Due: lint-js, lint-config

types are broken again :(
  apps/webext/tsconfig.json
  packages/app/features/home/screen.tsx
  packages/app/provider/store/index.tsx
  packages/background/package.json
  packages/ui/src/components/Sandbox.tsx
  packages/ui/src/global.ts
  tsconfig.json
Due: lint-js, lint-config

lint works again!
  .github/workflows/check.yml
  apps/webext-legacy/tsconfig.json
  apps/webext/tsconfig.json
  packages/app/package.json
  packages/background/lib/validate/prices.ts
  packages/background/package.json
  packages/background/services/chain/index.ts
  packages/background/services/ledger/index.ts
  packages/provider-bridge-shared/package.json
  packages/provider-bridge/package.json
  packages/ui-legacy/components/Core/CoreStakePage.tsx
  packages/ui-legacy/components/Shared/SharedModalPopup.tsx
  packages/ui-legacy/components/Wallet/WalletActivityDetails.tsx
  packages/ui-legacy/env.d.ts
  packages/ui-legacy/hooks/pocket-network/use-latest-block.ts
  packages/ui-legacy/index.ts
  packages/ui-legacy/package.json
  packages/ui-legacy/pages/Popup.tsx
  packages/window-provider/package.json
  tsconfig.json
  yarn.lock
Due: lint-js, lint-config

typescript matters
  apps/webext/tsconfig.json
Due: lint-config

whooops
  yarn.lock
Due: none

wip on hot refresh and enabling new way of signing
  apps/webext-legacy/manifest/manifest.chrome.json
  apps/webext-legacy/manifest/manifest.development.firefox.json
  apps/webext-legacy/manifest/manifest.development.json
  apps/webext-legacy/manifest/manifest.firefox.development.json
  apps/webext-legacy/manifest/manifest.json
  apps/webext-legacy/package.json
  apps/webext-legacy/src/background.ts
  apps/webext-legacy/src/stake-ui.ts
  apps/webext-legacy/src/tab-ui.ts
  apps/webext-legacy/src/ui.ts
  apps/webext-legacy/webpack.config.ts
  packages/background/services/ledger/index.ts
  packages/ui-legacy/components/Ledger/LedgerPanelContainer.tsx
  packages/ui-legacy/pages/Ledger/LedgerConnectPopup.tsx
  packages/ui-legacy/pages/Ledger/LedgerPrepare.tsx
  packages/ui-legacy/public/index.css
  yarn.lock
Due: lint-js, lint-config

upgrade rimraf
  package.json
  yarn.lock
Due: lint-config

fixes a lot up, do not chunk everything
  apps/webext-legacy/package.json
  apps/webext-legacy/webpack.config.ts
  packages/background/services/chain/pocket-provider.ts
Due: lint-js, lint-config

🧹🧹🧹 react 18 pls
  apps/webext-legacy/manifest/manifest.json
  apps/webext-legacy/package.json
  packages/ui-legacy/package.json
  yarn.lock
Due: lint-config

getting ready for ledger support
  packages/background/package.json
  packages/ui-legacy/package.json
  yarn.lock
Due: lint-config

hey tamagotchi tamagui 🦖
  .env.defaults
  .gitignore
  apps/webext-legacy/package.json
  apps/webext-legacy/tamagui.config.ts
  apps/webext-legacy/tsconfig.json
  apps/webext-legacy/webpack.config.ts
  apps/webext/tsconfig.json
  packages/app/provider/index.tsx
  packages/ui-legacy/components/Core/CorePopupPage.tsx
  packages/ui-legacy/index.ts
  packages/ui-legacy/pages/Popup.tsx
  tsconfig.json
  yarn.lock
Due: lint-js, lint-config

try providing react
  apps/webext/webpack.config.ts
Due: lint-js

touchups
  .github/workflows/check.yml
  package.json
  packages/ui-legacy/.babelrc.json
Due: lint-config

try react native web lite
  apps/next/next.config.js
Due: lint-js

Path conditions:
  lint-js: any of: \.jsx?$|\.tsx?$
  lint-config: any of: \.json$|\.yaml$|\.toml$
  lint-docs: any of: \.md$
