Repository sendnodes-io/sendwallet: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-config, lint-docs

lint-js:
  name: lint typescript and javascript
  entry: /usr/bin/env npx eslint
  language: script
  description: Checks JS/TS code according to the package's linter configuration

lint-config:
  name: lint config files
  entry: /usr/bin/env npx prettier -c
  language: script
  description: Checks config files according to the package's linter configuration

lint-docs:
  name: lint documentation files
  entry: /usr/bin/env npx prettier -c
  language: script
  description: Checks documentation files according to the package's linter configuration

update links on stake page
  ui/components/Stake/SendStake.tsx
Due: lint-js

better hover ux on export csv button
  ui/components/Stake/StakeRequestsTransactions.tsx
Due: lint-js

add a block check on the staking page
  background/constants/networks.ts
  background/services/chain/pocket-provider.ts
  ui/components/Core/CoreStakePage.tsx
  ui/hooks/pocket-network/use-latest-block.ts
Due: lint-js

bump version to 0.4.0
  manifest/manifest.json
  package.json
Due: lint-config

use www for sendwallet.net
  .env.defaults
Due: none

v0.4.0 (#28)
  .env.defaults
  README.md
  background/constants/networks.ts
  background/services/chain/index.ts
  background/services/chain/pocket-provider.ts
  manifest/manifest.json
  package.json
  ui/components/Core/CoreStakePage.tsx
  ui/components/Stake/SendStake.tsx
  ui/components/Stake/StakeRequestsTransactions.tsx
  ui/components/Stake/StakeRewards.tsx
  ui/components/Stake/StakeTransactionInfo.tsx
  ui/hooks/pocket-network/use-latest-block.ts
  ui/index.ts
  ui/pages/SignTransaction.tsx
Due: lint-js, lint-config, lint-docs

fix rewards charts bug not showing all time instead only 30d summary
  ui/components/Stake/StakeRewards.tsx
Due: lint-js

bump version to 0.4.1
  manifest/manifest.json
  package.json
Due: lint-config

v0.4.1 (#29)
  manifest/manifest.json
  package.json
  ui/components/Stake/StakeRewards.tsx
Due: lint-js, lint-config

sending amounts must be positive
  ui/components/Shared/SharedAssetInput.tsx
Due: lint-js

make analytics page easier to read
  ui/components/Stake/StakeAnalytics.tsx
Due: lint-js

cleanup
  .gitignore
  .node-version
  .nvmrc
  .tool-versions
  README.md
  docs/img/1500x500.jpeg
  docs/img/sendwallet-doc.jpg
Due: lint-docs

fix eslint config, fix coincover link
  .eslintrc.js
  ui/components/Stake/SendStake.tsx
Due: lint-js

more cleanup, add new IF avatars
  .editorconfig
  background/main.ts
  background/redux-slices/accounts.ts
  background/redux-slices/selectors/accountsSelectors.ts
  background/redux-slices/selectors/keyringsSelectors.ts
  background/services/keyring/index.ts
  background/services/keyring/storage.ts
  background/tests/keyring-integration.test.ts
  ui/public/images/avatars/invisiblefriends/2153.png
  ui/public/images/avatars/invisiblefriends/3201.png
  ui/public/images/avatars/invisiblefriends/3204.png
  ui/public/images/avatars/invisiblefriends/3644.png
  ui/public/images/avatars/invisiblefriends/3652.png
  ui/public/images/avatars/invisiblefriends/3653.png
  yarn.lock
Due: lint-js

a bit mroe cleanup
  background/package.json
  background/services/chain/index.ts
Due: lint-js, lint-config

bump to 0.4.2
  manifest/manifest.json
  package.json
Due: lint-config

add missing packages
  ui/package.json
  yarn.lock
Due: lint-config

add remote config and unstoppable domains
  background/services/chain/index.ts
  ui/components/AccountsNotificationPanel/AccountsNotificationPanelAccounts.tsx
  ui/components/Send/SendPOKT.tsx
  ui/hooks/remote-config-hooks.ts
  ui/hooks/validation-hooks.ts
  ui/pages/Onboarding/OnboardingAccountCreated.tsx
Due: lint-js

few fixes and tweaks
  background/services/chain/index.ts
  src/ui.ts
  ui/hooks/remote-config-hooks.ts
  ui/index.ts
Due: lint-js

fix more webpack bugs, add locales back
  apps/webext-v0/package.json
  apps/webext-v0/tailwind.config.js
  apps/webext-v0/webpack.config.ts
  packages/ui/_locales/en/messages.json
  packages/ui/_locales/zh_TW/messages.json
  packages/ui/package.json
  yarn.lock
Due: lint-js, lint-config

oh that's what babels for
  babel.config.js
  packages/background/tests/prices.test.ts
  packages/ui/.babelrc.js
  packages/ui/index.ts
Due: lint-js

bump to yarn 3, fix babel loader
  .gitignore
  .yarn/releases/yarn-3.3.0.cjs
  .yarnrc.yml
  apps/webext-v0/babel.config.js
  apps/webext-v0/package.json
  apps/webext-v0/webpack.config.ts
  babel.config.js
  babel.config.json
  package.json
  packages/background/package.json
  packages/ui/.babelrc.js
  packages/ui/.babelrc.json
  packages/ui/package.json
  yarn.lock
Due: lint-js, lint-config

add root start command
  package.json
Due: lint-config

works for building
  apps/webext-v0/.env.defaults
  apps/webext-v0/.env.example
  apps/webext-v0/env.d.ts
  apps/webext-v0/webpack.config.ts
  env.d.ts
  package.json
  packages/background/services/chain/pocket-provider.ts
  packages/ui/env.d.ts
  packages/ui/tsconfig.json
Due: lint-js, lint-config

use custom eth and polygon rpc provider
  packages/ui/hooks/validation-hooks.ts
Due: lint-js

new build who dis
  apps/webext-legacy/package.json
  apps/webext/dev-utils/extension-reload.js
  apps/webext/env.d.ts
  apps/webext/package.json
  apps/webext/tsconfig.json
  apps/webext/webpack.config.ts
  package.json
  packages/background/tsconfig.json
  packages/build-utils/README.md
  packages/build-utils/package.json
  packages/build-utils/web-extension-archive-webpack-plugin.ts
  packages/provider-bridge-shared/tsconfig.json
  packages/provider-bridge/tsconfig.json
  packages/ui/package.json
  packages/window-provider/EthereumWindowProvider.ts
  packages/window-provider/PocketWindowProvider.ts
  packages/window-provider/index.ts
  packages/window-provider/tsconfig.json
  tsconfig.json
  yarn.lock
Due: lint-js, lint-config, lint-docs

attempt at nativewind integration
  apps/webext/.babelrc
  apps/webext/app-env.d.ts
  apps/webext/env.d.ts
  apps/webext/global.css
  apps/webext/package.json
  apps/webext/src/ui.ts
  apps/webext/webpack.config.ts
  babel.config.json
  packages/app/design/layout.tsx
  packages/app/design/tailwind/theme.js
  packages/app/design/typography.tsx
  packages/app/design/view.tsx
  packages/app/features/home/screen.tsx
  packages/app/features/user/detail-screen.tsx
  packages/app/index.ts
  packages/app/nativewind.d.ts
  packages/app/navigation/native/index.tsx
  packages/app/package.json
  packages/app/provider/index.tsx
  packages/app/provider/navigation/index.tsx
  packages/app/provider/navigation/index.web.tsx
  packages/app/provider/safe-area/index.tsx
  packages/app/provider/safe-area/index.web.tsx
  packages/app/provider/safe-area/use-safe-area.ts
  packages/app/provider/safe-area/use-safe-area.web.ts
  packages/app/rnw-overrides.d.ts
  packages/app/tsconfig.json
  yarn.lock
Due: lint-js, lint-config

bah it doesn't know about navigation containers or smth
  apps/webext/.babelrc
  apps/webext/src/stake-ui.ts
  apps/webext/src/tab-ui.ts
  apps/webext/tailwind.config.js
  apps/webext/webpack.config.ts
  babel.config.json
Due: lint-js, lint-config

it works, but not transpiled correctly for web
  apps/webext/package.json
  apps/webext/src/manifest.json
  apps/webext/src/popup.tsx
  apps/webext/vite.config.ts
  packages/app/package.json
  packages/app/provider/index.tsx
  packages/app/provider/navigation/index.web.tsx
  yarn.lock
Due: lint-js, lint-config

suuupper messy, but it works
  apps/webext/.gitignore
  apps/webext/package.json
  apps/webext/src/popup.html
  apps/webext/webpack.config.js
  packages/app/features/user/detail-screen.tsx
  yarn.lock
Due: lint-js, lint-config

we getting there
  apps/webext/build-utils/web-extension-archive-webpack-plugin.ts
  apps/webext/package.json
  apps/webext/src/manifest.json
  apps/webext/src/manifest/manifest.brave.json
  apps/webext/src/manifest/manifest.chrome.json
  apps/webext/src/manifest/manifest.development.firefox.json
  apps/webext/src/manifest/manifest.development.json
  apps/webext/src/manifest/manifest.firefox.development.json
  apps/webext/src/manifest/manifest.firefox.json
  apps/webext/src/manifest/manifest.json
  apps/webext/src/manifest/manifest.opera.json
  apps/webext/src/popup.html
  apps/webext/src/popup.tsx
  apps/webext/src/provider-bridge.ts
  apps/webext/src/vite-env.d.ts
  apps/webext/vite.config.ts
  apps/webext/webpack.config copy.js
  apps/webext/webpack.config.ts
  packages/app/features/home/screen.tsx
  yarn.lock
Due: lint-js, lint-config

tweakksss
  apps/webext/public/icon-with-shadow.svg
  apps/webext/src/popup.html
  yarn.lock
Due: none

fix svg and url loader, auto color scheme switcher
  apps/webext/package.json
  apps/webext/src/popup.tsx
  apps/webext/webpack.config.ts
  packages/app/provider/navigation/index.tsx
  packages/app/provider/navigation/index.web.tsx
  yarn.lock
Due: lint-js, lint-config

use build-utils package, typescript fix
  apps/webext/build-utils/web-extension-archive-webpack-plugin.ts
  apps/webext/webpack.config.ts
  packages/build-utils/index.ts
  packages/build-utils/package.json
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Due: lint-js, lint-config

remove eslint, add rome
  .eslintrc.js
  .gitignore
  .tsconfig-eslint.json
  .vscode/extensions.json
  .yarnrc.yml
  apps/webext/src/popup.tsx
  apps/webext/tsconfig.json
  apps/webext/webpack.config copy.js
  apps/webext/webpack.config.ts
  package.json
  packages/app/package.json
  packages/app/provider/navigation/index.tsx
  packages/app/rnw-overrides.tsx
  rome.json
  tsconfig.base.json
  yarn.lock
Due: lint-js, lint-config

use rome for formatting and linting typescript
  .prettierignore
  .prettierrc
  apps/webext/src/popup.tsx
  apps/webext/src/provider-bridge.ts
  apps/webext/tamagui.config.ts
  apps/webext/webpack.config.ts
  package.json
  packages/app/features/home/screen.tsx
  packages/app/features/user/detail-screen.tsx
  packages/app/index.ts
  packages/app/navigation/native/index.tsx
  packages/app/provider/index.tsx
  packages/app/provider/navigation/index.tsx
  packages/app/rnw-overrides.tsx
  packages/app/tamagui.config.ts
  packages/ui/src/MyComponent.tsx
  packages/ui/src/animations.ts
  packages/ui/src/global.ts
  packages/ui/src/index.tsx
  packages/ui/src/tamagui.config.ts
  rome.json
Due: lint-js, lint-config

Path conditions:
  lint-js: any of: \.jsx?$|\.tsx?$
  lint-config: any of: \.json$|\.yaml$|\.toml$
  lint-docs: any of: \.md$
