Repository sendnodes-io/sendwallet: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-config, lint-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-js
        name: "lint typescript and javascript"
        entry: /usr/bin/env npx eslint
        files: '\.jsx?$|\.tsx?$'
        language: script
        description: "Checks JS/TS code according to the package's linter configuration"
  - repo: local
    hooks:
      - id: lint-config
        name: "lint config files"
        entry: /usr/bin/env npx prettier -c
        files: '\.json$|\.yaml$|\.toml$'
        language: script
        description: "Checks config files according to the package's linter configuration"
  - repo: local
    hooks:
      - id: lint-docs
        name: "lint documentation files"
        entry: /usr/bin/env npx prettier -c
        files: '\.md$'
        language: script
        description: "Checks documentation files according to the package's linter configuration"

not working but progress
  apps/next/pages/index.tsx
  packages/app/assets/sendnodes/logo.png
  packages/app/assets/sendnodes/logo.svg
  packages/app/features/sendnodes/home/screen.tsx
  packages/app/rnw-overrides.tsx
  turbo.json
Due: lint-js, lint-config

fix ci
  apps/webext-legacy/tsconfig.json
  apps/webext/tsconfig.json
  global.d.ts
  package.json
  packages/app/features/sendnodes/home/screen.tsx
  packages/app/rnw-overrides.tsx
  turbo.json
  yarn.lock
Due: lint-js, lint-config

🧹
  apps/webext-legacy/.prettierignore
  apps/webext/.prettierignore
  package.json
  turbo.json
Due: lint-config

fix up ui package lint
  packages/ui/package.json
  turbo.json
Due: lint-config

clean up firefox artifacts
  .github/workflows/check.yml
Due: none

work work work
  packages/app/assets/sendnodes/icon_rewards.svg
  packages/app/assets/sendnodes/logo.png
  packages/app/features/sendnodes/home/screen.tsx
Due: lint-js

fix wallet provider regression
  apps/webext-legacy/src/window-provider.ts
  package.json
  packages/app/assets/sendnodes/icon_rewards.svg
  packages/app/features/sendnodes/home/screen.tsx
  packages/app/provider/poktwallet/index.tsx
  packages/ui/src/components/index.tsx
  packages/ui/src/components/sendnodes/index.tsx
  packages/ui/src/components/sendnodes/stats/StatsCard.tsx
  packages/ui/src/components/sendnodes/stats/index.tsx
  packages/ui/src/index.tsx
Due: lint-js, lint-config

fix unlock errors not showing
  packages/background/redux-slices/keyrings.ts
Due: lint-js

fix submitting name form
  packages/ui-legacy/components/AccountItem/AccountItemOptionsMenu.tsx
  packages/ui-legacy/components/AccountsNotificationPanel/AccountsNotificationPanelAccounts.tsx
Due: lint-js

ignore, minimize in production
  apps/webext-legacy/webpack.config.ts
Due: lint-js

do not zip the zip
  .github/workflows/check.yml
Due: none

add test web-ext lint
  apps/webext-legacy/package.json
  apps/webext-legacy/src/background.ts
  apps/webext-legacy/webpack.config.ts
  yarn.lock
Due: lint-js, lint-config

fix turbo test dependsOn, remove broken tasks
  apps/webext/package.json
  turbo.json
Due: lint-config

chunks all does not work
  apps/webext-legacy/manifest/manifest.development.json
  apps/webext-legacy/manifest/manifest.json
  apps/webext-legacy/package.json
  apps/webext-legacy/webpack.config.ts
Due: lint-js, lint-config

clean pkgs
  apps/webext-legacy/package.json
  apps/webext-legacy/webpack.config.ts
  package.json
  yarn.lock
Due: lint-js, lint-config

remove pre commit
  .husky/pre-commit
  package.json
  packages/app/features/sendnodes/home/screen.tsx
  packages/ui/src/components/sendnodes/stats/index.tsx
  yarn.lock
Due: lint-js, lint-config

just webext (no legaccyyyy)
  .github/workflows/check.yml
  README.md
  apps/webext-legacy/manifest/manifest.json
  apps/webext-legacy/package.json
  apps/webext-legacy/src/background.ts
  apps/webext-legacy/src/provider-bridge.ts
  apps/webext-legacy/tamagui.config.ts
  apps/webext-legacy/tsconfig.json
  apps/webext-legacy/webpack.config.ts
  apps/webext/.gitignore
  apps/webext/env.d.ts
  apps/webext/manifest/manifest.brave.json
  apps/webext/manifest/manifest.chrome.json
  apps/webext/manifest/manifest.development.json
  apps/webext/manifest/manifest.firefox.json
  apps/webext/manifest/manifest.json
  apps/webext/manifest/manifest.opera.json
  apps/webext/package.json
  apps/webext/postcss.config.js
  apps/webext/src/background-ui.ts
  apps/webext/src/background.ts
  apps/webext/src/index.html
  apps/webext/src/manifest/manifest.chrome.json
  apps/webext/src/manifest/manifest.development.firefox.json
  apps/webext/src/manifest/manifest.development.json
  apps/webext/src/manifest/manifest.firefox.development.json
  apps/webext/src/manifest/manifest.firefox.json
  apps/webext/src/popup.css
  apps/webext/src/popup.tsx
  apps/webext/src/provider-bridge.ts
  apps/webext/src/stake-ui.ts
  apps/webext/src/tab-ui.ts
  apps/webext/src/ui.ts
  apps/webext/src/window-provider.ts
  apps/webext/tailwind.config.js
  apps/webext/tsconfig.json
  apps/webext/webext-env.d.ts
  apps/webext/webpack.config.ts
  package.json
  yarn.lock
Due: lint-js, lint-config, lint-docs

fix docs
  README.md
Due: lint-docs

wip on experimental webext
  packages/app/features/sendnodes/home/screen.tsx
  packages/app/provider/index.tsx
  packages/ui-legacy/pages/Stake.tsx
  packages/ui-legacy/pages/Tab.tsx
Due: lint-js

Update README.md
  README.md
Due: lint-docs

update README
  README.md
Due: lint-docs

run build command as current user
  README.md
Due: lint-docs

v0.4.7 c'mon firefox
  apps/webext/manifest/manifest.json
  apps/webext/package.json
  packages/background/generate-validators.ts
  packages/background/lib/analytics.ts
  packages/background/lib/validate/json-validators.js
  packages/background/package.json
Due: lint-js, lint-config

fix total staked avail for unstaking
  packages/ui-legacy/components/Stake/SendUnstake.tsx
Due: lint-js

bump to v0.4.8
  apps/webext/manifest/manifest.json
  apps/webext/package.json
Due: lint-config

keep analytics
  packages/background/lib/analytics.ts
Due: lint-js

add help button
  apps/webext/tailwind.config.js
  packages/ui-legacy/components/Core/CorePopupPage.tsx
  packages/ui-legacy/components/Wallet/WalletHeader.tsx
  packages/ui-legacy/pages/Onboarding/OnboardingAddWallet.tsx
Due: lint-js

bump to v0.4.9
  apps/webext/manifest/manifest.json
  apps/webext/package.json
Due: lint-config

clean up help button
  packages/ui-legacy/components/Core/CorePopupPage.tsx
  packages/ui-legacy/components/NeedHelpModal/index.tsx
  packages/ui-legacy/pages/Wallet.tsx
Due: lint-js

long live pokt watch
  packages/background/constants/networks.ts
  packages/background/networks.ts
  packages/background/redux-slices/selectors/uiSelectors.ts
  packages/background/services/chain/pocket-provider.ts
  packages/ui-legacy/components/Send/SendPOKT.tsx
  packages/ui-legacy/components/Stake/StakeRequestsTransactions.tsx
  packages/ui-legacy/components/Stake/StakeSignTransaction.tsx
  packages/ui-legacy/components/Stake/StakeTransactionInfo.tsx
  packages/ui-legacy/hooks/pocket-network/use-latest-block.ts
  packages/ui-legacy/hooks/pokt-watch/use-latest-block.ts
  packages/ui-legacy/hooks/staking-hooks/use-staking-requests-transactions.ts
  packages/ui-legacy/hooks/staking-hooks/use-staking-rewards-transactions.ts
  packages/ui-legacy/hooks/staking-hooks/use-staking-user-data.ts
Due: lint-js

one more place
  packages/ui-legacy/components/TransactionDetail/TransactionDetailSlideUpMenuBody.tsx
Due: lint-js

v0.4.9 use pocket rpc for blocks
  apps/webext/manifest/manifest.json
  apps/webext/package.json
  apps/webext/tailwind.config.js
  packages/background/constants/networks.ts
  packages/background/networks.ts
  packages/background/redux-slices/selectors/uiSelectors.ts
  packages/background/services/chain/pocket-provider.ts
  packages/ui-legacy/components/Core/CorePopupPage.tsx
  packages/ui-legacy/components/NeedHelpModal/index.tsx
  packages/ui-legacy/components/Send/SendPOKT.tsx
  packages/ui-legacy/components/Stake/StakeRequestsTransactions.tsx
  packages/ui-legacy/components/Stake/StakeSignTransaction.tsx
  packages/ui-legacy/components/Stake/StakeTransactionInfo.tsx
  packages/ui-legacy/components/TransactionDetail/TransactionDetailSlideUpMenuBody.tsx
  packages/ui-legacy/components/Wallet/WalletHeader.tsx
  packages/ui-legacy/hooks/pocket-network/use-latest-block.ts
  packages/ui-legacy/hooks/pokt-watch/use-latest-block.ts
  packages/ui-legacy/hooks/staking-hooks/use-staking-requests-transactions.ts
  packages/ui-legacy/hooks/staking-hooks/use-staking-rewards-transactions.ts
  packages/ui-legacy/hooks/staking-hooks/use-staking-user-data.ts
  packages/ui-legacy/pages/Onboarding/OnboardingAddWallet.tsx
  packages/ui-legacy/pages/Wallet.tsx
Due: lint-js, lint-config

Update yarn configuration and package manager
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.3.0.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: lint-config
