Repository sendnodes-io/sendwallet: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-config, lint-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-js
        name: "lint typescript and javascript"
        entry: /usr/bin/env npx eslint
        files: '\.jsx?$|\.tsx?$'
        language: script
        description: "Checks JS/TS code according to the package's linter configuration"
  - repo: local
    hooks:
      - id: lint-config
        name: "lint config files"
        entry: /usr/bin/env npx prettier -c
        files: '\.json$|\.yaml$|\.toml$'
        language: script
        description: "Checks config files according to the package's linter configuration"
  - repo: local
    hooks:
      - id: lint-docs
        name: "lint documentation files"
        entry: /usr/bin/env npx prettier -c
        files: '\.md$'
        language: script
        description: "Checks documentation files according to the package's linter configuration"

use npm hd-keyring
  background/package.json
  yarn.lock
Due: lint-config

fix tx retrieval queue
  background/services/chain/db.ts
  background/services/chain/index.ts
  yarn.lock
Due: lint-js

cleanup
  background/services/chain/db.ts
  background/services/chain/index.ts
Due: lint-js

re-enable pocket provider injection
  env.d.ts
  manifest/manifest.json
  src/window-provider.ts
  webpack.config.ts
Due: lint-js, lint-config

formatting, add dapp connection menu back
  background/services/chain/index.ts
  ui/components/Wallet/WalletAccountBalanceControl.tsx
  ui/components/Wallet/WalletActivityListItem.tsx
  ui/components/Wallet/WalletConnectedDAppInfo.tsx
  ui/components/Wallet/WalletHeader.tsx
Due: lint-js

do not await most network requests, only lookup current account in chain service
  background/main.ts
  background/redux-slices/keyrings.ts
  background/services/chain/index.ts
  background/services/keyring/index.ts
  background/services/preferences/index.ts
  ui/components/Shared/SharedAssetInput.tsx
Due: lint-js

support firefox
  background/index.ts
  manifest/manifest.firefox.json
  src/background.ts
  ui/index.ts
  webpack.config.ts
Due: lint-js, lint-config

wip on tailwind theme
  tailwind.config.js
  ui/pages/Stake.tsx
  ui/public/index.css
Due: lint-js

content update
  ui/pages/Stake.tsx
Due: lint-js

rename CorePage -> CorePopupPage
  ui/components/Core/CorePopupPage.tsx
  ui/components/Core/CorePopupStyles.ts
  ui/pages/Popup.tsx
  ui/pages/Tab.tsx
Due: lint-js

add stake button
  ui/components/Shared/SharedButton.tsx
  ui/components/Wallet/WalletAccountBalanceControl.tsx
  ui/public/images/stake@2x.png
Due: lint-js

develop theme, add stake page based on send, clean up core pages
  tailwind.config.js
  ui/components/Core/CorePopupPage.tsx
  ui/components/Core/CorePopupStyles.ts
  ui/pages/Stake.tsx
  ui/pages/base.html
  ui/public/index.css
  ui/public/popup.css
  ui/public/tab.css
  webpack.config.ts
Due: lint-js

back to parity with build
  package.json
  postcss.config.js
  webpack.config.ts
Due: lint-js, lint-config

fix shared checkbox
  ui/components/Shared/SharedButton.tsx
  ui/components/Shared/SharedCheckbox.tsx
  ui/pages/Stake.tsx
Due: lint-js

add browser at end of archive name
  webpack.config.ts
Due: lint-js

wip tailwindcss
  package.json
  postcss.config.js
  tailwind.config.js
  ui/package.json
  ui/pages/Stake.tsx
  ui/public/index.css
  ui/routes/routes.tsx
  webpack.config.ts
  yarn.lock
Due: lint-js, lint-config

simple stake button
  .env.defaults
  ui/pages/SendStake.tsx
  ui/pages/Stake.tsx
Due: lint-js

add snackbar, sidebar styling, fix max input bug, checkbox styles
  ui/components/Core/CoreStakePage.tsx
  ui/components/Shared/SharedAssetInput.tsx
  ui/components/Shared/SharedCheckbox.tsx
Due: lint-js

clean up CoreStakePage layout
  ui/components/Core/CoreStakePage.tsx
Due: lint-js

clean up icons
  ui/components/Core/CoreStakePage.tsx
  ui/pages/SendStake.tsx
  ui/public/images/stake@2x.png
Due: lint-js

Add unstake, Fetch user staking data
  .env.defaults
  ui/components/Send/SendPOKT.tsx
  ui/components/Shared/SharedAssetInput.tsx
  ui/components/Stake/SendStake.tsx
  ui/components/Stake/SendUnstake.tsx
  ui/hooks/staking-hooks.ts
  ui/package.json
  ui/pages/Stake.tsx
  ui/pages/base.html
  ui/public/stake.css
  yarn.lock
Due: lint-js, lint-config

stake and unstake
  ui/components/Stake/SendStake.tsx
  ui/components/Stake/SendUnstake.tsx
  ui/hooks/staking-hooks.ts
  ui/public/index.css
Due: lint-js

refresh staking data, bump to v0.2.1
  manifest/manifest.json
  package.json
  ui/hooks/staking-hooks.ts
Due: lint-js, lint-config
