Repository sendnodes-io/sendwallet: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-config, lint-docs

lint-js:
  name: lint typescript and javascript
  entry: /usr/bin/env npx eslint
  language: script
  description: Checks JS/TS code according to the package's linter configuration

lint-config:
  name: lint config files
  entry: /usr/bin/env npx prettier -c
  language: script
  description: Checks config files according to the package's linter configuration

lint-docs:
  name: lint documentation files
  entry: /usr/bin/env npx prettier -c
  language: script
  description: Checks documentation files according to the package's linter configuration

UI updates and bug fixes
  ui/components/Shared/SharedAssetInput.tsx
  ui/components/Stake/SendStake.tsx
  ui/components/Stake/SendUnstake.tsx
  ui/components/Stake/StakeAnalytics.tsx
  ui/components/Stake/StakeSignTransaction.tsx
  ui/components/Stake/Stat/StatTotalRewards.tsx
  ui/components/Stake/Stat/StatTotalStaked.tsx
  ui/components/Stake/Stat/StatTotalUnstaked.tsx
  ui/components/Stake/Stat/StatTotalUnstaking.tsx
  ui/components/Stake/Stat/StatTotalUpcomingRewards.tsx
  ui/hooks/assets/use-asset-in-main-currency.ts
Due: lint-js

bump version
  manifest/manifest.json
  package.json
Due: lint-config

update notes on supporting EVM
  background/constants/currencies.ts
  background/services/chain/index.ts
  background/services/keyring/index.ts
  background/services/preferences/defaults.ts
  ui/components/Wallet/WalletAccountBalanceControl.tsx
  ui/components/Wallet/WalletHeader.tsx
Due: lint-js

Fix fee settings on sign tx page
  ui/components/NetworkFees/FeeSettingsText.tsx
Due: lint-js

add protected by coincover
  ui/components/Stake/SendStake.tsx
  ui/public/images/Protected_by_Coincover_Stamp.png
Due: lint-js

bump manifest
  manifest/manifest.json
Due: lint-config

fix coincover link, bump package version
  package.json
  ui/components/Stake/SendStake.tsx
Due: lint-js, lint-config

Dev v0.3.7 (#24)
  manifest/manifest.json
  package.json
  ui/components/NetworkFees/FeeSettingsText.tsx
  ui/components/Stake/SendStake.tsx
  ui/public/images/Protected_by_Coincover_Stamp.png
Due: lint-js, lint-config

fix spacing on smaller screens
  ui/components/Stake/SendStake.tsx
Due: lint-js

wip on implementing EVM & EVM Pocket RPC Provider
  background/constants/currencies.ts
  background/lib/gas.ts
  background/package.json
  background/services/chain/index.ts
  background/services/chain/serial-fallback-provider.ts
  background/services/keyring/index.ts
  background/services/preferences/defaults.ts
  package.json
  src/window-provider.ts
  ui/package.json
  ui/pages/ErrorFallback.tsx
  window-provider/index.ts
  yarn.lock
Due: lint-js, lint-config

v0.3.7 (#25)
  manifest/manifest.json
  package.json
  ui/components/NetworkFees/FeeSettingsText.tsx
  ui/components/Stake/SendStake.tsx
  ui/public/images/Protected_by_Coincover_Stamp.png
Due: lint-js, lint-config

it's coincover
  ui/components/Stake/SendStake.tsx
Due: lint-js

make sending txs to siw only a warning
  manifest/manifest.json
  package.json
  ui/components/Stake/StakeSignTransaction.tsx
  ui/helpers/get-sn-action-from-memo.ts
  ui/pages/SignTransaction.tsx
Due: lint-js, lint-config

wip on SendWallet
  README.md
  babel.config.js
  background/constants/errors.ts
  background/lib/analytics.ts
  background/lib/erc20.ts
  background/package.json
  background/services/keyring/encryption.ts
  docs/integration.md
  manifest/manifest.chrome.json
  manifest/manifest.development.json
  manifest/manifest.firefox.development.json
  manifest/manifest.firefox.json
  manifest/manifest.json
  provider-bridge-shared/package.json
  provider-bridge/package.json
  ui/_locales/en/messages.json
  ui/_locales/zh_TW/messages.json
  ui/components/AccountsNotificationPanel/AccountsNotificationPanelAccounts.tsx
  ui/components/Send/SendPOKT.tsx
  ui/components/Shared/SharedSplashScreen.tsx
  ui/components/Stake/StakeAnalytics.tsx
  ui/components/Stake/StakeRewards.tsx
  ui/components/Wallet/WalletConnectedDAppInfo.tsx
  ui/index.ts
  ui/package.json
  ui/pages/Ledger/LedgerImportDone.tsx
  ui/pages/Menu.tsx
  ui/pages/Onboarding/OnboardingAccountCreated.tsx
  ui/pages/Onboarding/OnboardingInfoIntro.tsx
  ui/pages/base.html
  webpack.config.ts
  window-provider/package.json
Due: lint-js, lint-config, lint-docs

wip fix image names
  ui/public/images/splash/SendWallet 1@4x.png
  ui/public/images/splash/SendWallet 2@4x.png
  ui/public/images/splash/SendWallet 3@4x.png
Due: none

more image updates
  ui/components/Core/CoreStakePage.tsx
  ui/public/images/pokt-wallet-logo@2x.png
  ui/public/images/send-wallet-logo@2x.png
Due: lint-js

more images, content
  ui/pages/Onboarding/OnboardingInfoIntro.tsx
  ui/pages/base.html
  ui/public/icon-128-black.png
  ui/public/icon-128-white.png
  ui/public/icon-128.png
  ui/public/images/add_wallet/account_created@2x.png
  ui/public/images/onboarding/step-1-logo-icon@2x.png
  ui/public/images/onboarding/step-1-logo-simple@4x.png
  ui/public/images/send_wallet_logo@2x.png
Due: lint-js

update splash screen
  ui/components/Shared/SharedSplashScreen.tsx
  ui/pages/Onboarding/OnboardingInfoIntro.tsx
  ui/pages/Wallet.tsx
  ui/pages/base.html
  ui/public/images/splash/1@4x.png
  ui/public/images/splash/2@4x.png
  ui/public/images/splash/3@4x.png
  ui/public/images/splash/4@4x.png
  ui/public/images/splash/5@4x.png
  ui/public/images/splash/6@4x.png
  ui/public/images/splash/7@4x.png
  ui/public/index.css
Due: lint-js

poktwallet.io -> sendwallet.net
  .env.defaults
  README.md
  docs/integration.md
  ui/components/Wallet/WalletSettings.tsx
  ui/hooks/remote-config-hooks.ts
  ui/pages/Menu.tsx
Due: lint-js, lint-docs

update links and socials
  README.md
  ui/components/Stake/Footer.tsx
  ui/components/Stake/StakePausedModal.tsx
  ui/components/Wallet/WalletSettings.tsx
Due: lint-js, lint-docs

fix SendWallet.net domain
  docs/integration.md
  ui/components/Send/SendPOKT.tsx
Due: lint-js, lint-docs

fiagnet online
  background/constants/networks.ts
  background/services/internal-pokt-provider/index.ts
  background/services/provider-bridge/index.ts
  ui/components/NetworkSelector/index.tsx
Due: lint-js

bump to v0.3.9
  manifest/manifest.json
  package.json
Due: lint-config

add release and submit workflow
  .github/workflows/webext/release.yml
  manifest/manifest.json
Due: lint-config

fix release workflow
  .github/workflows/webext/release.yml
Due: none

fix release workflow
  .github/workflows/release.yml
Due: none

bump to v0.3.9 and add release workflow (#27)
  .github/workflows/release.yml
  manifest/manifest.json
  package.json
Due: lint-config

fix missing Version step
  .github/workflows/release.yml
Due: none

try building with yarn
  .github/workflows/release.yml
Due: none

try with git configs
  .github/workflows/release.yml
Due: none

try without concurrency
  .github/workflows/release.yml
Due: none

fix typo in script
  .github/workflows/release.yml
Due: none

remote config for pokt mainnet rpc, slow down deadman switch
  background/services/chain/index.ts
  background/services/chain/pocket-provider.ts
  ui/index.ts
Due: lint-js

fix bugs when unable to connect to onchainapi
  .env.defaults
  ui/components/Core/CoreStakePage.tsx
  ui/pages/SignTransaction.tsx
Due: lint-js

add daily rewards chart
  ui/components/Stake/StakeRewards.tsx
Due: lint-js

bump version v0.4.0
  manifest/manifest.json
  package.json
Due: lint-config

revert version to 0.3.10
  manifest/manifest.json
  package.json
Due: lint-config

add csv download, limit charts to 30d
  ui/components/Stake/StakeRequestsTransactions.tsx
  ui/components/Stake/StakeRewards.tsx
  ui/components/Stake/StakeTransactionInfo.tsx
Due: lint-js

add notes about preparing a safari build
  README.md
Due: lint-docs

Path conditions:
  lint-js: any of: \.jsx?$|\.tsx?$
  lint-config: any of: \.json$|\.yaml$|\.toml$
  lint-docs: any of: \.md$
