Repository sendnodes-io/sendwallet: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-config, lint-docs

lint-js:
  name: lint typescript and javascript
  entry: /usr/bin/env npx eslint
  language: script
  description: Checks JS/TS code according to the package's linter configuration

lint-config:
  name: lint config files
  entry: /usr/bin/env npx prettier -c
  language: script
  description: Checks config files according to the package's linter configuration

lint-docs:
  name: lint documentation files
  entry: /usr/bin/env npx prettier -c
  language: script
  description: Checks documentation files according to the package's linter configuration

add pre-commit and github check
  .github/workflows/check.yml
  package.json
  yarn.lock
Due: lint-config

use yarn patches, add husky pre-commit
  .husky/pre-commit
  .yarn/patches/jsan-npm-3.1.13-376d4a9e3f.patch
  apps/webext-legacy/manifest/manifest.json
  apps/webext/src/manifest/manifest.json
  apps/webext/src/provider-bridge.ts
  apps/webext/webext-env.d.ts
  docs/integration.md
  package.json
  packages/app/features/home/screen.tsx
  packages/provider-bridge/index.ts
  rome.json
  yarn.lock
Due: lint-js, lint-config, lint-docs

Just lint
  .husky/pre-commit
Due: none

fix command
  .github/workflows/check.yml
Due: none

fix command again
  .github/workflows/check.yml
Due: none

add dockerignore, fix root workspace commands
  .dockerignore
  package.json
Due: lint-config

use rome settings, fix workflow
  .github/workflows/check.yml
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  apps/webext-legacy/package.json
  apps/webext/package.json
  apps/webext/src/popup.tsx
  apps/webext/src/provider-bridge.ts
  apps/webext/webext-env.d.ts
  apps/webext/webpack.config.ts
  index.ts
  jest.config.ts
  package.json
  packages/app/features/home/screen.tsx
  packages/app/features/user/detail-screen.tsx
  packages/app/navigation/native/index.tsx
  packages/app/package.json
  packages/app/provider/index.tsx
  packages/app/provider/navigation/index.tsx
  packages/app/rnw-overrides.tsx
  packages/background/package.json
  packages/build-utils/web-extension-archive-webpack-plugin.ts
  packages/provider-bridge-shared/eip-1193.ts
  packages/provider-bridge-shared/runtime-typechecks.ts
  packages/provider-bridge-shared/types.ts
  packages/provider-bridge/index.ts
  packages/provider-bridge/package.json
  packages/ui-legacy/package.json
  packages/ui/package.json
  packages/ui/src/MyComponent.tsx
  packages/ui/src/animations.ts
  packages/ui/src/global.ts
  packages/ui/src/tamagui.config.ts
  packages/window-provider/EthereumWindowProvider.ts
  packages/window-provider/PocketWindowProvider.ts
  rome.json
  tests/integration.test.ts
  tsconfig.base.json
  yarn.lock
Due: lint-js, lint-config

yarn.lock
  yarn.lock
Due: none

build sort of works
  apps/webext/package.json
  apps/webext/webpack.config.ts
Due: lint-js, lint-config

use esbuild
  apps/webext/package.json
  apps/webext/src/manifest/manifest.brave.json
  apps/webext/src/manifest/manifest.opera.json
  apps/webext/tsconfig.json
  apps/webext/webpack.config.ts
  tsconfig.tsbuildinfo
  yarn.lock
Due: lint-js, lint-config

rm old packages, fix build
  apps/webext-legacy/package.json
  apps/webext/package.json
  apps/webext/webpack.config.ts
  babel.config.json
  package.json
  packages/background/package.json
  packages/build-utils/.gitignore
  packages/build-utils/package.json
  packages/build-utils/src/index.ts
  packages/build-utils/src/web-extension-archive-webpack-plugin.ts
  packages/build-utils/tsconfig.json
  packages/ui-legacy/.babelrc.json
  rome.json
  tsconfig.json
  yarn.lock
Due: lint-js, lint-config

quiet down yarn logs [skipci]
  .yarnrc.yml
Due: none

fix ci
  apps/webext/webpack.config.ts
Due: lint-js

should work now
  .github/workflows/check.yml
Due: none

wip on routes
  apps/webext/package.json
  apps/webext/src/index.html
  apps/webext/src/manifest/manifest.chrome.json
  apps/webext/src/manifest/manifest.firefox.json
  apps/webext/webpack.config.ts
  package.json
  packages/app/provider/navigation/index.tsx
Due: lint-js, lint-config

ok, i get it, i need new pages
  .yarn/patches/@react-navigation-native-npm-6.1.1-dff59abc78.patch
  apps/webext/package.json
  package.json
  packages/app/features/home/screen.tsx
  packages/app/features/user/detail-screen.tsx
  packages/app/navigation/native/index.tsx
  packages/app/provider/navigation/index.tsx
  yarn.lock
Due: lint-js, lint-config

fix package scripts
  apps/webext-legacy/package.json
  package.json
Due: lint-config

fixing type errors
  apps/webext-legacy/webpack.config.ts
  packages/background/tsconfig.json
  packages/ui-legacy/components/Wallet/WalletActivityListItem.tsx
  packages/ui-legacy/routes/routes.tsx
  packages/ui-legacy/tsconfig.json
Due: lint-js, lint-config

clean up tsconfig more
  .gitignore
  packages/ui-legacy/tsconfig.json
  tsconfig.json
  tsconfig.tsbuildinfo
Due: lint-config

one step closer to cleaner workflow, but need to use turbo
  package.json
Due: lint-config

wip
  .gitignore
  .husky/pre-commit
  apps/webext-legacy/.prettierignore
  apps/webext-legacy/package.json
  apps/webext-legacy/tsconfig.json
  apps/webext/.prettierignore
  apps/webext/package.json
  apps/webext/tsconfig.json
  package.json
  packages/background/env.d.ts
  packages/background/lib/logger.ts
  packages/background/redux-slices/dapp-permission.ts
  packages/background/redux-slices/utils.ts
  packages/background/services/internal-ethereum-provider/index.ts
  packages/background/services/internal-pokt-provider/index.ts
  packages/background/tsconfig.json
  packages/build-utils/package.json
  packages/ui-legacy/components/Stake/StakeTransactionInfo.tsx
  packages/ui-legacy/components/Wallet/WalletActivityListItem.tsx
  packages/ui-legacy/routes/routes.tsx
  turbo.json
  yarn.lock
Due: lint-js, lint-config

upgrade tamagui
  apps/webext/package.json
  packages/app/package.json
  packages/ui/package.json
  yarn.lock
Due: lint-config

so broken
  apps/webext-legacy/package.json
  apps/webext-legacy/tsconfig.json
  apps/webext/package.json
  package.json
  packages/app/provider/navigation/index.tsx
  packages/background/env.d.ts
  packages/background/lib/enhancers.ts
  packages/background/lib/erc20.ts
  packages/background/main.ts
  packages/background/package.json
  packages/background/redux-slices/accounts.ts
  packages/background/redux-slices/index.ts
  packages/background/redux-slices/keyrings.ts
  packages/background/redux-slices/networks.ts
  packages/background/redux-slices/selectors/accountsSelectors.ts
  packages/background/redux-slices/signing.ts
  packages/background/redux-slices/utils.ts
  packages/background/services/chain/index.ts
  packages/background/services/enrichment/utils.ts
  packages/background/services/indexing/db.ts
  packages/background/services/keyring/encryption.ts
  packages/background/services/keyring/index.ts
  packages/background/services/ledger/index.ts
  packages/background/services/provider-bridge/index.ts
  packages/background/services/signing/index.ts
  packages/background/tests/keyring-integration.test.ts
  packages/background/tsconfig.json
  packages/build-utils/package.json
  packages/provider-bridge-shared/tsconfig.json
  packages/provider-bridge/tsconfig.json
  packages/ui-legacy/env.d.ts
  packages/ui-legacy/package.json
  packages/ui-legacy/tsconfig.json
  packages/window-provider/tsconfig.json
  tsconfig.json
  yarn.lock
Due: lint-js, lint-config

works locally!
  .prettierignore
  apps/webext-legacy/.prettierignore
  apps/webext-legacy/build-utils/web-extension-archive-webpack-plugin.ts
  apps/webext-legacy/package.json
  apps/webext-legacy/src/background.ts
  apps/webext-legacy/tsconfig.json
  apps/webext-legacy/webpack.config.ts
  apps/webext/.prettierignore
  packages/background/networks.ts
  packages/background/package.json
  packages/background/redux-slices/activities.ts
  packages/background/redux-slices/contract-abis/tally-swap.ts
  packages/background/services/chain/index.ts
  packages/background/services/chain/pocket-provider.ts
  packages/background/services/chain/utils.ts
  packages/background/tests/keyring-integration.test.ts
  packages/build-utils/package.json
  packages/ui-legacy/hooks/pocket-network/use-latest-block.ts
  packages/ui-legacy/package.json
  packages/ui-legacy/pages/Onboarding/OnboardingImportKeyfile.tsx
  yarn.lock
Due: lint-js, lint-config

lint it baby
  .husky/pre-commit
Due: none

build with concurrency=1
  .github/workflows/check.yml
  .husky/pre-commit
Due: none

revert react-redux and redux-toolkit
  .github/workflows/check.yml
  apps/webext-legacy/package.json
  apps/webext/package.json
  package.json
  packages/background/package.json
  packages/ui-legacy/index.ts
  packages/ui-legacy/package.json
  turbo.json
  yarn.lock
Due: lint-js, lint-config

remove yarn link
  package.json
Due: lint-config

remove yarn link
  yarn.lock
Due: none

use pocket network portal RPC by default
  packages/background/constants/networks.ts
Due: lint-js

clean up tests
  .github/workflows/check.yml
  apps/webext-legacy/package.json
  apps/webext-legacy/tsconfig.json
  apps/webext/tsconfig.json
  package.json
  packages/background/.babelrc.json
  packages/background/jest.config.ts
  packages/background/jest.setup.ts
  packages/background/package.json
  packages/background/services/keyring/index.ts
  tests/integration.test.ts
  yarn.lock
Due: lint-js, lint-config

one package can ruin it all 🤣🤪
  .github/workflows/check.yml
  apps/webext-legacy/package.json
  apps/webext/package.json
  package.json
  packages/ui/package.json
  turbo.json
Due: lint-config

think it's working again
  .github/workflows/check.yml
  apps/webext/package.json
  package.json
  packages/app/package.json
  packages/ui/package.json
  turbo.json
  yarn.lock
Due: lint-config

Update check.yml
  .github/workflows/check.yml
Due: none

tried to upgrade tamagui, it still broken 😭
  yarn.lock
Due: none

try adding expo-linear-gradient since we'll prob need it
  apps/webext/package.json
  yarn.lock
Due: lint-config

clean up build depends on
  turbo.json
Due: lint-config

Path conditions:
  lint-js: any of: \.jsx?$|\.tsx?$
  lint-config: any of: \.json$|\.yaml$|\.toml$
  lint-docs: any of: \.md$
