Repository sendnodes-io/sendwallet: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-config, lint-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-js
        name: "lint typescript and javascript"
        entry: /usr/bin/env npx eslint
        files: '\.jsx?$|\.tsx?$'
        language: script
        description: "Checks JS/TS code according to the package's linter configuration"
  - repo: local
    hooks:
      - id: lint-config
        name: "lint config files"
        entry: /usr/bin/env npx prettier -c
        files: '\.json$|\.yaml$|\.toml$'
        language: script
        description: "Checks config files according to the package's linter configuration"
  - repo: local
    hooks:
      - id: lint-docs
        name: "lint documentation files"
        entry: /usr/bin/env npx prettier -c
        files: '\.md$'
        language: script
        description: "Checks documentation files according to the package's linter configuration"

wip on stake tx popup
  background/redux-slices/assets.ts
  ui/components/Core/CoreStakePage.tsx
  ui/components/SignTransaction/SignTransactionBaseInfoProvider.tsx
  ui/components/SignTransaction/SignTransactionContainer.tsx
  ui/components/SignTransaction/SignTransactionSignInfoProvider.tsx
  ui/components/Stake/SendStake.tsx
  ui/components/Stake/SignStakeTransaction.tsx
Due: lint-js

support firefox
  background/index.ts
  manifest/manifest.firefox.json
  src/background.ts
  ui/index.ts
  webpack.config.ts
Due: lint-js, lint-config

cleanup
  background/services/chain/db.ts
  background/services/chain/index.ts
Due: lint-js

bump to v0.3.0
  manifest/manifest.json
  package.json
Due: lint-config

stake and unstake
  ui/components/Stake/SendStake.tsx
  ui/components/Stake/SendUnstake.tsx
  ui/hooks/staking-hooks.ts
  ui/public/index.css
Due: lint-js

stake header
  background/redux-slices/accounts.ts
  background/redux-slices/selectors/accountsSelectors.ts
  ui/components/Core/CoreStakePage.tsx
  ui/components/Shared/SharedAddress.tsx
  ui/components/Shared/SharedIcon.tsx
  ui/public/images/pokt-wallet-logo@2x.png
Due: lint-js

minor style tweak
  ui/components/Core/CoreStakePage.tsx
Due: lint-js

wip on better sign stake tx modal
  ui/components/Core/CoreStakePage.tsx
Due: lint-js

return from pocket provider after sending
  background/services/chain/index.ts
  background/services/internal-pokt-provider/index.ts
Due: lint-js

layout mostly done
  ui/components/Core/CoreStakePage.tsx
Due: lint-js

minor layout tweek
  ui/components/Core/CoreStakePage.tsx
Due: lint-js

content update
  ui/pages/Stake.tsx
Due: lint-js

clean up CoreStakePage layout
  ui/components/Core/CoreStakePage.tsx
Due: lint-js

refresh staking data, bump to v0.2.1
  manifest/manifest.json
  package.json
  ui/hooks/staking-hooks.ts
Due: lint-js, lint-config

fix stakign pokt params parsing
  ui/components/Stake/SendStake.tsx
  ui/hooks/staking-hooks/use-staking-pokt-params.ts
Due: lint-js

lots of cleanup
  ui/components/Core/CoreStakePage.tsx
  ui/components/Stake/SendStake.tsx
  ui/public/images/rewards@2x.png
  ui/public/images/sendnodes.png
  ui/public/images/stake@2x.png
  ui/public/images/transactions@2x.png
  ui/public/images/unstake@2x.png
  ui/public/stake.css
Due: lint-js

clean up icons
  ui/components/Core/CoreStakePage.tsx
  ui/pages/SendStake.tsx
  ui/public/images/stake@2x.png
Due: lint-js

develop theme, add stake page based on send, clean up core pages
  tailwind.config.js
  ui/components/Core/CorePopupPage.tsx
  ui/components/Core/CorePopupStyles.ts
  ui/pages/Stake.tsx
  ui/pages/base.html
  ui/public/index.css
  ui/public/popup.css
  ui/public/tab.css
  webpack.config.ts
Due: lint-js

add browser at end of archive name
  webpack.config.ts
Due: lint-js

fix error page styling
  ui/pages/ErrorFallback.tsx
Due: lint-js

re-fetch base asset balance on block
  background/services/enrichment/index.ts
  background/services/indexing/index.ts
Due: lint-js

wip tailwindcss
  package.json
  postcss.config.js
  tailwind.config.js
  ui/package.json
  ui/pages/Stake.tsx
  ui/public/index.css
  ui/routes/routes.tsx
  webpack.config.ts
  yarn.lock
Due: lint-js, lint-config

lots of cleanup
  ui/components/Core/CoreStakePage.tsx
  ui/components/Shared/SharedButton.tsx
  ui/components/Shared/SharedModal.tsx
  ui/components/Snackbar/Snackbar.tsx
  ui/components/Stake/SendStake.tsx
  ui/components/Stake/SendUnstake.tsx
  ui/components/Stake/SignStakeTransaction.tsx
  ui/components/Wallet/WalletAccountBalanceControl.tsx
  ui/hooks/staking-hooks/constants.ts
  ui/hooks/staking-hooks/use-staking-pokt-params.ts
  ui/hooks/staking-hooks/use-staking-requests-transactions.ts
  ui/hooks/staking-hooks/use-staking-user-data.ts
  ui/public/stake.css
Due: lint-js

fix unstake page
  ui/components/Stake/SendStake.tsx
  ui/components/Stake/SendUnstake.tsx
  ui/components/Stake/Stat/StatTotalStaked.tsx
  ui/hooks/staking-hooks/constants.ts
Due: lint-js

fix staking page
  ui/components/Core/CoreStakePage.tsx
  ui/components/Stake/SendStake.tsx
  ui/hooks/staking-hooks.ts
  ui/hooks/staking-hooks/constants.ts
  ui/hooks/staking-hooks/index.ts
  ui/hooks/staking-hooks/use-staking-pokt-params.ts
  ui/hooks/staking-hooks/use-staking-user-data.ts
Due: lint-js

re-enable pocket provider injection
  env.d.ts
  manifest/manifest.json
  src/window-provider.ts
  webpack.config.ts
Due: lint-js, lint-config

add snackbar, sidebar styling, fix max input bug, checkbox styles
  ui/components/Core/CoreStakePage.tsx
  ui/components/Shared/SharedAssetInput.tsx
  ui/components/Shared/SharedCheckbox.tsx
Due: lint-js

format
  src/provider-bridge.ts
Due: lint-js

Add unstake, Fetch user staking data
  .env.defaults
  ui/components/Send/SendPOKT.tsx
  ui/components/Shared/SharedAssetInput.tsx
  ui/components/Stake/SendStake.tsx
  ui/components/Stake/SendUnstake.tsx
  ui/hooks/staking-hooks.ts
  ui/package.json
  ui/pages/Stake.tsx
  ui/pages/base.html
  ui/public/stake.css
  yarn.lock
Due: lint-js, lint-config

add warning banner
  ui/components/Core/CoreStakePage.tsx
  ui/pages/Onboarding/OnboardingAccountCreated.tsx
Due: lint-js

do not await most network requests, only lookup current account in chain service
  background/main.ts
  background/redux-slices/keyrings.ts
  background/services/chain/index.ts
  background/services/keyring/index.ts
  background/services/preferences/index.ts
  ui/components/Shared/SharedAssetInput.tsx
Due: lint-js

shared modal for account switching during stake
  ui/components/AccountsNotificationPanel/AccountsNotificationPanel.tsx
  ui/components/AccountsNotificationPanel/AccountsNotificationPanelAccounts.tsx
  ui/components/Core/CoreStakePage.tsx
  ui/components/Shared/SharedModal.tsx
  ui/public/stake.css
Due: lint-js

fix shared checkbox
  ui/components/Shared/SharedButton.tsx
  ui/components/Shared/SharedCheckbox.tsx
  ui/pages/Stake.tsx
Due: lint-js

formatting, add dapp connection menu back
  background/services/chain/index.ts
  ui/components/Wallet/WalletAccountBalanceControl.tsx
  ui/components/Wallet/WalletActivityListItem.tsx
  ui/components/Wallet/WalletConnectedDAppInfo.tsx
  ui/components/Wallet/WalletHeader.tsx
Due: lint-js

wip on tailwind theme
  tailwind.config.js
  ui/pages/Stake.tsx
  ui/public/index.css
Due: lint-js

better error fallback page, throw to fallback on error
  ui/components/Stake/SendStake.tsx
  ui/pages/ErrorFallback.tsx
Due: lint-js

fix import wallets link
  manifest/manifest.json
  ui/components/AccountsNotificationPanel/AccountsNotificationPanelAccounts.tsx
  ui/pages/Stake.tsx
Due: lint-js, lint-config

format in locale in more places and fix USD currency formatting
  background/redux-slices/selectors/accountsSelectors.ts
  background/redux-slices/utils/asset-utils.ts
  ui/components/Send/SendPOKT.tsx
  ui/components/Stake/StakeSignTransaction.tsx
  ui/components/Stake/Stat/StatAPY.tsx
  ui/components/Wallet/WalletAccountBalanceControl.tsx
  ui/utils/formatTokenAmount.ts
Due: lint-js

rewards page
  ui/components/Stake/SendStake.tsx
  ui/components/Stake/SendUnstake.tsx
  ui/components/Stake/StakeRequestsTransactions.tsx
  ui/components/Stake/StakeRewards.tsx
  ui/components/Stake/Stat/StatTotalPendingStaked.tsx
  ui/components/Stake/Stat/StatTotalStaked.tsx
  ui/hooks/staking-hooks/use-staking-rewards-transactions.ts
  ui/package.json
  ui/pages/Stake.tsx
  ui/public/stake.css
  yarn.lock
Due: lint-js, lint-config
